<p>products works!</p>
<div class="card">
    
    <div class="card-body">
        <h2 class="card-title">Products List</h2>
        <p *ngIf="category"> Products in Category : {{category}}</p>
        <ul>
            <li *ngFor="let product of products"> 
            <p class="card=text"> Product Id : {{ product.id }} </p>
            <p class="card=text"> Product Name : {{ product.name }} </p>
            <p class="card=text"> Product Price : ${{ product.price }} </p>
            <p class="card=text"> Product Description : {{ product.description }} </p>
            <button class="btn btn-primary">Add to Cart</button>
            </li>
        </ul>
    </div>
</div>
